/*CREDITS*/
/*https://visualpharm.com/free-icons/adam%20sandler-595b40b75ba036ed117d530b*/
/*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
/*<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
/*<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
/*<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 320px;
}

header {
  background-color: #FFFFFF;
  height: 200px;
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.dropdown {
  z-index:2;
}

.nav-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: -2px;
}

.nav-item {
  background-color: #cccccc;
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  width: 145px;
}

.nav-item:hover {
  color: #777777;
}

.title-container {
  align-items: center;
  bottom: 20px;
  display: flex;
  position: absolute;
  right: 20px;
}

.title-icon {
  height: 60px;
  width: 60px;
}

.member-container {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.member {
  color: grey;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.member-icon {
  height: 10px;
  margin-right: 3px;
  width: 10px;
}

.article-container {
  align-items: flex-start;
  background-color: #cccccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 360px;
  margin: auto;
  padding: 100px 10px 20px;
  width: 100%;
}

.bio-container {
  background-color: #FFFFFF;
  border: 1px ridge #cccccc;
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 10px;
  position: relative;
  width: 300px;
}

.dummy {
  display: none;
}

.bio-dummy {
  height : 400px;
  margin: 10px;
  position: relative;
  width: 300px;
}

.body-title {
  font-size: 30px;
  position: absolute;
  top: -80px;
}

.img-container {
  height: 150px;
  background-color: black;
}

.arrow-container {
  position: absolute;
}

.curved-arrow {
  position: relative;
  top: 20px;
  left: 20px;
}

.bio-img:hover {
  opacity: 1;
}

.bio-img {
  box-sizing: content-box;
  height: 100%;
  opacity: 0.6;
  width: 100%;
}

.view-container {
  align-items: center;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 20px;
}

.view-title {
  font-size: 12px;
}

.view-count {
  font-size: 30px;
}

.curved-arrow {
  background-color: transparent;
  height: 60px;
  left: 20px;
  top: 20px;
  width: 60px;
  z-index: 1;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.movie-character-container, 
.rating-container, 
.movie-year-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-around;
  margin: 10px;
}

.movie-title {
  font-size: 16px;
}

.movie-character {
  font-size: 13px;
}

.movie-link-container {
  background-color: #cccccc;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.movie-link {
  font-size: 12px;
  margin-top: 0px;
  text-decoration: none;
  color:white;
}

.rating-title {
  font-size: 12px;
}

.rating {
  font-size: 18px;
}

.movie-year-title {
  font-size: 12px;
}

.movie-year {
  font-size: 18px;
}

@media screen and (max-width: 979px) {
  .dummy1, .dummy2 {
    display: none;
  }
}

@media (min-width: 980px) and (max-width: 1299px) {
  .dummy1 {
    display: block;
  }
  .dummy2 {
    display: none;
  }
}

@media (min-width: 1300px) and (max-width: 1619px) {
  .dummy1, .dummy2{
    display: none;
  }
}

@media (min-width: 1620px) {
  .dummy1, .dummy2{
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .hide {
    visibility: hidden;
  }
  .dropdown-content {
    display: flex;
  }
  .nav-item {
    list-style-type: none;
    justify-content: space-around;
  }
}

@media screen and (max-width: 979px) {
  .drop-button {
    position: relative;
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    bottom: 20px;
    left: 20px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    z-index: 1;
  }
  .nav-item {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  .nav-item:hover {
    background-color: #f1f1f1
  } 
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media screen and (max-width: 659px) {
  .title {
    position: absolute;
    font-size :20px;
    right: 70px;
    bottom: -10px;
  }
  .title-container {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    flex-direction: row;
  }
  .title-icon {
    position: absolute;
    right: 0px;
    bottom: 7px;
  }
}

@media screen and (min-width: 660px) {
  .title {
    font-size: 30px;
  }
}



